*{
    margin: 0px;
    padding: 0px;
}

body{
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: left;
    background-size: 100% ; 
    color: #fff;
}
h1{
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
    color: black;
}
td{
    padding: 8px;
    border-bottom: 3.5px solid rgb(0, 0, 0);
}

header nav section article footer{
    display: block;
}

#cajaprincipal{
    width: 900px;
    margin: 25px auto;
}

#menu-navegacion{
    background: rgb(78, 76, 76);
    border: 3px solid rgb(223, 14, 14);
    padding: 5px 15px;
    margin: 5px 0px auto;
    
}

#menu-navegacion li{
    display: inline-block;
    list-style: none;
    padding: 5px 25px;
}

.menu li a{
    text-decoration: none;
}

ul li a{
    color: rgb(248, 248, 248);
}

#menu-navegacion li:hover{
    cursor: pointer;
    background: rgb(233, 83, 83);
}


#seccion{
    border-top-style: dashed;
    float: left;

    margin: 72px auto;
}

/*
#columna{
    float: RIGHT;
    width: 60px;
    margin: 20px 0px auto;
    padding: 20px;
    background: rgb(230, 22, 22);
}
*/
#final{
    clear: both;
    border-top: 2px solid #fff; 
    text-align: center;
    padding: 20px;
}


